<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../public/css/main.css">
    
    <title>My Super Awesome Template</title>
</head>
<body>

        <div id="header">
                <nav class="mainNav">
                    <h2 class="hidden">Main Navigation</h2>
                    <button id="button"></button>
                    <div id="burgerCon">
                      <ul id="burgerMenu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="#" id="section1Btn">FEATURES</a></li>
                        <li><a href="#" id="section2Btn">PRICING</a></li>
                      </ul>
                        </div>
                        </nav>
                <div id="logo"><img src="../public/images/logo.png" alt="logo"></div></div>
                        <div id="line1"></div>

    <section class="mainHero">
        <img id="timbBoot" src="../public/images/boot.png" alt="timberlands boot">
        <h1></h1>
    </section>

    <section class="iconsGroup">
    <div id="icon1">
        <div id=""
        <img src=>
        </div>
        <h1></h1>
    </div>
</section>
 

    <script src="../public/js/main.js"></script>
</body>
</html>